@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Cairo:wght@200&family=Montserrat:wght@200&display=swap');

body 
{background:#000 !important; color:#FFF !important;}

h1,h2, h4, h6 
{font-family: 'Abril Fatface', cursive;}

.navbar 
{background-color: #121212 !important;}

.navbar a 
{font-family: 'Abril Fatface', cursive;}

h6 {color:#FFF ;}
P {color:#b5b5b5;}